.navbar {
  background: #ffa630;
  display: flex;
  align-items: center;
  padding: 0vh;
  height: 10vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 1vh 2vh rgba(0,0,0,0.25);
  z-index: 1000;
  justify-content: space-between;
}

.navbar-logo {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  margin: 1vw;
  user-select: none;
  pointer-events: auto; 
}
.navbar-logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}


.navbar-search {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 1vw;
  max-width: 60vw;
  position: relative;
}
.navbar-search-input {
  width: 100%;
  padding: 2vh 1vw;        /* pixels not vh/vw */
  font-size: 2vh;           /* stays responsive with browser font scaling */
  border-radius: 2vh;
  border: none;
  background: #f3f3f3;
    box-shadow: inset 0 .5vh 1vh rgba(0,0,0,0.3);
}


.navbar-search-btn {
  position: absolute;
  right: 0vw;
  width: 6.25vh;
  height: 6.25vh;
  background: #f24e1e;
  border-radius: 1.8vh;
  border: none;
  box-shadow: 0 .5vh 1vh rgba(0,0,0,0.5);
}

.navbar-search-btn img {
  width: 4vh;
  height: 4vh;
  object-fit: contain;
}

.navbar-profile {
  position: relative;
  margin-right: 1vw;
  user-select: none;
  pointer-events: auto; 
}

.navbar-profile-img {
  width: 7.5vh;
  height: 7.5vh;
  border-radius: 8vh;
  cursor: pointer;
  border: 0.5vh solid #fff;
  box-shadow: 0 .5vh 1vh rgba(0,0,0,0.7);
  object-fit: cover;
  display: block;
  background: #fff;
  margin: 1vw;
  z-index: 2;
  transition: border-color 0.2s;
}
.navbar-profile-img:active,
.navbar-profile-img:focus {
  border-color: #ffa630;
}

.navbar-dropdown {
  position: absolute;
  right: 0;
  top: 9vh;
  background: white;
  border-radius: 1vh;
  box-shadow: 0 1vh 1vh rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  width: 6vw;
  overflow: hidden;
  z-index: 10;
}

.navbar-dropdown button {
  background: none;
  border: none;
  padding: 1vh 1vw;
  text-align: left;
  font-size: 2vh;
  cursor: pointer;
  color: #333;
}

.navbar-dropdown button:hover {
  background: #f2f2f2;
}
